# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Virtual environments
.venv/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Local env
.env

# Instagram archive
instagram_archive/
