.my-8 {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

body.sweasy-gradient {
    background: linear-gradient(to bottom, #2c3c41, #0c131f);
}

.sweasy-main-container {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.sweasy-logo-container {
    background-image: url("logo.png");
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 180px;
    transition: 0.7s;
    position: absolute; /* Добавьте position absolute, чтобы логотип мог быть позиционирован относительно окна браузера */
    left: 50%; /* Позиционируйте логотип на 50% от левого края окна браузера */
    top: 8%;
    transform: translate(-50%, -50%); /* Сдвигает логотип вверх и влево на половину его высоты и ширины, центрируя его */
    z-index: 10; /* Устанавливает z-index выше, чем у других элементов, чтобы логотип перекрывал их */
}

.sweasy-logo {
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #b8860b;
    letter-spacing: 3px;
}

.sweasy-logo-placeholder {
    width: 450px;
    height: 80px;
}


@media (max-width: 991.98px) {
    .sweasy-logo-container {
        display: none;
    }
}

.sweasy-card-group-container {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(33, 37, 41, 0), rgba(33, 37, 41, 0.95) 10%, rgba(33, 37, 41, 0.95));
}

.sweasy-card {
    font-family: 'Helvetica Neue';
    color: #ecd99f;
    font-size: 18px;
    transition: 0.7s ease-in-out;
}

.sweasy-card:hover {
    transform: scale(1.1);
}

.sweasy-content-container {
    font-family: 'Helvetica Neue';
    color: #ecd99f;
    font-size: 18px;
}

.sweasy-gold-border {
    border: 2px double #ecd99f;
    border-radius: 35px;
    overflow: hidden;
}

.sweasy-gold-border-thin {
    border: 1px solid #ecd99f;
}

.sweasy-gold-btn {
    color: #ecd99f;
    border-color: #ecd99f;
    transition: 0.7s ease-in-out;
}

.sweasy-gold-btn:hover,
.sweasy-gold-btn:focus,
.sweasy-gold-btn:active {
    background-color: #ecd99f;
    color: #000;
    transform: scale(1.1);
}

.sweasy-gold-btn:focus,
.sweasy-gold-btn:active {
    box-shadow: none;
}

.sweasy-divider {
    border-top: 1px solid #ecd99f; /* Цвет и толщина линии */
    width: 50%; /* Ширина линии */
    margin: 20px auto; /* Отступы сверху и снизу, и автоматический отступ слева и справа для центрирования */
}

.drop-cap::first-letter {
  font-size: 3em; /* Размер первой буквы */
  float: left; /* Переместить букву влево */
  margin-right: 8px; /* Отступ между буквицей и остальным текстом */
  line-height: 1; /* Выровнять буквицу по базовой линии */
}

.sweasy-navbar {
    font-family: 'Helvetica Neue'
    height: auto;
}

.sweasy-nav-item {
    font-size: 18px;
    margin-right: 10px;
    transition: 0.7s ease-in-out;
}

.sweasy-nav-item a {
    color: #ecd99f !important;
}

.sweasy-nav-item:hover,
.sweasy-nav-item:focus,
.sweasy-nav-item:active {
    transform: scale(1.1);
    border-bottom: 1px solid #ecd99f;
}