{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="bg-dark sweasy-content-container mh-100">
<div class="container p-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-1">Туризм в Швейцарии</h1>
        </div>
    </div>
    <hr class="sweasy-divider mb-5">
    <div class="row mb-5">
        <div class="col-12 col-md-6">
            <img src="{% static 'photo1.png' %}" alt="Швейцария - изображение 1" class="img-fluid rounded mb-3">
        </div>
        <div class="col-12 col-md-6">
            <p class="drop-cap">Швейцария известна своими живописными пейзажами, включая прекрасные горы и чистые озера.
               Самые популярные места для посещения включают Цюрих, Женеву и Люцерн.
               Посетители могут насладиться поездкой на канатной дороге до вершины горы Пилатус
               или прокатиться на поезде Юнгфраубан по крутому склону до самой высокой железнодорожной
                станции в Европе.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-6">
            <p class="drop-cap">В Швейцарии можно найти множество активностей для туристов,
                от горных прогулок до катания на лыжах и посещения исторических достопримечательностей.
                Зимой швейцарские Альпы становятся райским местом для любителей зимних видов спорта,
                предлагая некоторые из самых лучших трасс для лыжного спорта в мире.</p>
        </div>
        <div class="col-12 col-md-6">
            <img src="{% static 'photo2.png' %}" alt="Швейцария - изображение 2"
                 class="img-fluid rounded mb-3">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-6">
            <img src="{% static 'photo3.png' %}" alt="Швейцария - изображение 3"
                 class="img-fluid rounded mb-3">
        </div>
        <div class="col-12 col-md-6">
            <p class="drop-cap">Гастрономический туризм также популярен в Швейцарии.
                Страна известна своим шоколадом и сыром, а также качественными ресторанами и кафе.
                Вы можете попробовать традиционный фондю, распробовать местные вина или
                даже принять участие в кулинарном туре, чтобы узнать больше о швейцарской кулинарной традиции.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-6">
            <p class="drop-cap">В Швейцарии соблюдаются высокие стандарты безопасности и комфорта для туристов,
                что делает эту страну идеальным местом для путешествий. Общественный транспорт работает как часы,
                и страна обладает одним из самых низких уровней преступности в мире,
                что дает туристам возможность наслаждаться своим пребыванием без всяких беспокойств.</p>
        </div>
        <div class="col-12 col-md-6">
            <img src="{% static 'photo4.png' %}" alt="Швейцария - изображение 4"
                 class="img-fluid rounded mb-3">
        </div>
    </div>
    <hr class="sweasy-divider mb-5">
</div>
</div>
{% endblock %}