{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sweasy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body class="sweasy-gradient vh-100">
    <!-- Логотип перемещен вне контейнера -->
    <div class="sweasy-logo-container d-flex justify-content-center bg-transparent border-0">
        <h1 class="h1 text-center align-self-center py-4 sweasy-logo">
            SWEASY
        </h1>
    </div>
    <div class="sweasy-main-container sweasy-gold-border container my-8 p-0">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sweasy-navbar">
            <div class="container-fluid">
                <div class="navbar-collapse d-flex">
                    <ul class="navbar-nav mr-auto d-flex flex-grow-1">
                        <li class="nav-item sweasy-nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item sweasy-nav-item">
                            <a class="nav-link" href="{% url 'get_content' %}">Content</a>
                        </li>
                    </ul>
                    <div class="sweasy-logo-placeholder"></div>
                    <ul class="navbar-nav ml-auto d-flex flex-grow-1 justify-content-end">
                        <li class="nav-item sweasy-nav-item">
                            <a class="nav-link" href="{% url 'get_content' %}">Contact</a>
                        </li>
                        <li class="nav-item sweasy-nav-item">
                            <a class="nav-link" href="{% url 'get_content' %}">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}
    </div>
</body>
</html>
