body.sweasy-gradient {
    background: linear-gradient(to bottom, #2c3c41, #0c131f);
}

.sweasy-main-container {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.sweasy-logo-container {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
}

.sweasy-logo {
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #ecd99f;
    letter-spacing: 9px;
}

.sweasy-card-group-container {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(44, 60, 65, 0),
                                          rgba(12, 19, 31, 0.9) 10%,
                                          rgba(12, 19, 31, 1));
}

.sweasy-card {
    font-family: 'Helvetica Neue';
    color: #ecd99f;
}

.sweasy-gold-border {
    border: 2px double #ecd99f; /* Золотой цвет (цвет по коду) */
    border-radius: 35px; /* Округление углов рамки */
    overflow: hidden;
}

.sweasy-gold-border-thin {
    border: 1px solid #ecd99f;
}

.sweasy-gold-btn {
    color: #ecd99f;
    border-color: #ecd99f;
}

.sweasy-gold-btn:hover,
.sweasy-gold-btn:focus,
.sweasy-gold-btn:active {
    transition: 0.3s; /* Эффект замедления на 0.3 секунды */
    background-color: #ecd99f;
    color: #000;
}

.sweasy-gold-btn:focus,
.sweasy-gold-btn:active {
    box-shadow: none; /* Убираем тень для активного состояния */
}