body.sweasy-gradient {
    background: linear-gradient(to bottom, #2c3c41, #0c131f);
}

.sweasy-main-container {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.sweasy-logo-container {
    background-image: url("logo.png");
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 180px;
    transition: 0.7s;
}

.sweasy-logo-container:hover {
    transform: scale(1.03);
}

.sweasy-logo {
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #b8860b;
    letter-spacing: 3px;
}

.sweasy-card-group-container {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(44, 60, 65, 0),
                                          rgba(12, 19, 31, 0.9) 10%,
                                          rgba(12, 19, 31, 1));
}

.sweasy-card {
    font-family: 'Helvetica Neue';
    color: #ecd99f;
    font-size: 18px;
    transition: 0.7s; /
}

.sweasy-card:hover {
    transform: scale(1.1);
}

.sweasy-content-container {
    font-family: 'Helvetica Neue';
    color: #ecd99f;
    font-size: 18px;
}

.sweasy-gold-border {
    border: 2px double #ecd99f;
    border-radius: 35px;
    overflow: hidden;
}

.sweasy-gold-border-thin {
    border: 1px solid #ecd99f;
}

.sweasy-gold-btn {
    color: #ecd99f;
    border-color: #ecd99f;
    transition: 0.7s;
}

.sweasy-gold-btn:hover,
.sweasy-gold-btn:focus,
.sweasy-gold-btn:active {
    background-color: #ecd99f;
    color: #000;
    transform: scale(1.1);
}

.sweasy-gold-btn:focus,
.sweasy-gold-btn:active {
    box-shadow: none;
}

.sweasy-divider {
    border-top: 1px solid #ecd99f; /* Цвет и толщина линии */
    width: 50%; /* Ширина линии */
    margin: 20px auto; /* Отступы сверху и снизу, и автоматический отступ слева и справа для центрирования */
}

.drop-cap::first-letter {
  font-size: 3em; /* Размер первой буквы */
  float: left; /* Переместить букву влево */
  margin-right: 8px; /* Отступ между буквицей и остальным текстом */
  line-height: 1; /* Выровнять буквицу по базовой линии */
}

