{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="mb-5 sweasy-logo-container d-flex justify-content-center bg-transparent border-0">
        <h1 class="h1 text-center align-self-center  py-4 sweasy-logo">
            SWEASY
        </h1>
    </div>
</div>
<div style="height: 600px;"></div>
<div class="sweasy-card-group-container">
    <div style="height: 50px;"></div>
    <div class="row m-auto">
        {% for card in cards %}
        <div class="d-flex col-md-6 col-lg-3 p-0 sweasy-gold-border-thin">
            <div class="card sweasy-card align-self-stretch mb-5 bg-transparent border-0">
                <div class="card-body">
                    <h5 class="card-title text-center sweasy-gold-border-thin p-1">{{ card.title }}</h5>
                    <p class="card-text h-75">{{ card.description }}</p>
                    <a href="{{ url_for('get_content') }}" class="btn btn-dark sweasy-gold-btn">Кнопка</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
