<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sweasy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="gradient">
    <div class="container bg-white my-5">
        <div class="row d-flex justify-content-center">
            <div class="card w-25 my-5">
                <h1 class="h1 text-center py-4">SweasY</h1>
            </div>
        </div>
        <div class="border mb-5 d-flex justify-content-center">
            <img src="https://via.placeholder.com/500" alt="Image">
        </div>
        <div class="row mb-5">
            <!-- Карточка 1 -->
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Женева</h5>
                        <p class="card-text">Женева - красивейший город в Швейцарии, расположенный на берегу одноименного озера. Известен своей культурной сценой, богатством музеев и потрясающими видами на Альпы.</p>
                    </div>
                </div>
            </div>

            <!-- Карточка 2 -->
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Зюрих</h5>
                        <p class="card-text">Зюрих - крупнейший город Швейцарии и важный финансовый центр. Город известен своими историческими достопримечательностями, парками и возможностями для шопинга.</p>
                    </div>
                </div>
            </div>

            <!-- Карточка 3 -->
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Люцерн</h5>
                        <p class="card-text">Люцерн - уютный город на озере Вирт в сердце Швейцарии. Здесь можно наслаждаться живописными видами, посетить старый город и познакомиться с культурой региона.</p>
                    </div>
                </div>
            </div>

            <!-- Карточка 4 -->
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Зерматт</h5>
                        <p class="card-text">Зерматт - популярный горнолыжный курорт, окруженный высокими вершинами Альп. Здесь можно наслаждаться горнолыжными склонами, походами и прекрасной природой.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>