{% extends "layout.html" %}

{% block content %}
<div style="height: 650px;"></div>
<div class="sweasy-card-group-container">
    <div class="row m-auto">
        {% for card in cards %}
        <div class="d-flex col-md-6 col-lg-3">
            <div class="card sweasy-card align-self-start mb-5 bg-transparent border-0">
                <div class="card-body">
                    <h5 class="card-title text-center sweasy-gold-border-thin p-1">{{ card.title }}</h5>
                    <p class="card-text">{{ card.description }}</p>
                    <button class="btn btn-dark sweasy-gold-btn">Кнопка</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
